body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
h1 {
  color: #333;
  background-color: blanchedalmond;
}
p {
  color: #666;
  background-color: burlywood;
}
footer {
  color: brown;
  background-color: greenyellow;
  padding: 20px;
  text-align: center;
}